﻿<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
    </NotFound>
</Router>
