﻿@page "/calendar"

@using FoodTrackEFC.Shared.Interfaces
@using Microsoft.AspNetCore.Components.Authorization

@inject IJSRuntime jsRuntime
@inject IInterOpHelper intHelper

<div class="row">
    <div class="panel-heading">
        <div class="col-md-8  custom-heading3">
            <h3>
                <i class="fa fa-calendar"></i>
                <span>ASP.NET MVC5 - Full Calendar JQuery Plugin</span>
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <section class="col-md-12 col-md-push-0">
        <div class="row">
            <div class="col-xs-9 col-xs-push-2">
                <div class="box box-primary">
                    <div class="box-body no-padding">
                        <!-- THE CALENDAR -->
                        <div id="calendar"></div>
                    </div><!-- /.box-body -->
                </div><!-- /. box -->
            </div><!-- /.col -->
        </div>
    </section>
</div>



@code{
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        var reference = await intHelper.CreateJSRef();
        await jsRuntime.InvokeVoidAsync("jsInterOpScripts.createJSInterOpRef",reference);
        await jsRuntime.InvokeVoidAsync("jsInterOpScripts.calendarInit",null);
    }

}