﻿@page "/Item/"
@page "/Item/{itemID:int}"

@using FoodTrackEFC.Client.Validation
@using FoodTrackEFC.Shared.Dtos
@using FoodTrackEFC.Shared;
@using Microsoft.AspNetCore.Components.Authorization
@using FoodTrackEFC.Shared.Managers
@using System.Linq;
@using System.Linq.Expressions;
@using System.Text;
@using FoodTrackEFC.Client.Static;

@inject HttpClient Http
@inject NavigationManager NavigationManager


<div class="row">


    <div class="col-md-4">
        @if (item != null)
        {
            <EditForm OnValidSubmit="@HandleValidSubmit" Model="@item">
                <RecursiveDataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="Name" class="control-label"> Name </label>
                    <InputText id="Name" @bind-Value="item.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Unit" class="control-label"> Unit </label>
                    <InputText id="Unit" @bind-Value="item.Unit" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Source" class="control-label"> Source </label>
                    <InputText id="Source" @bind-Value="item.Source" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Calories" class="control-label"> Calories </label>
                    <InputNumber id="Calories" @bind-Value="item.Calories" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Protein" class="control-label"> Protein </label>
                    <InputNumber id="Protein" @bind-Value="item.Protein" class="form-control" />
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>

            </EditForm>
        }

    </div>
</div>
@code {

    private AuthenticationState authenticationState { get; }

    private ItemDto item;

    private OrderedSet<object> parentSet { get; set; }

    private bool IsNew { get; set; }

    private IList<ItemDto> SearchItems { get; set; }

    [Parameter]
    public int itemID { get; set; }

    public Task<IEnumerable<ItemDto>> SearchItem(string searchText)
    {
        Task<IEnumerable<ItemDto>> itemsReturned = Http.GetJsonAsync<IEnumerable<ItemDto>>("api/Item/" + searchText);


        return itemsReturned;
    }

    private async void HandleValidSubmit()
    {
        if (IsNew)
        {
            var createdItem = await Http.SendCyclicJsonAsync<ItemDto>(HttpMethod.Post, "api/Item", item);
        }
        else
        {
            await Http.SendJsonAsync<ItemDto>(HttpMethod.Put, "api/Item/" + item.ID, item);
        }
        //NavigationManager.NavigateTo($"/api/question/{createdQuestion.Id}");
        //var createdQuestion = await Http.SendJsonAsync<QuestionDto>(HttpMethod.Post, "api/questions", questionDto);
        //Console.WriteLine("OnValidSubmit");
    }

    protected override async Task OnInitializedAsync()
    {
        parentSet = new OrderedSet<object>();

        if (itemID == 0)
        {
            //Otherwise, will set to a new item DTO
            item = new ItemDto();
            IsNew = true;
            return;
        }

        try
        {
            // Will try to obtain an itemDto with this itemID
            ItemDto dto = await Http.GetJsonAsync<ItemDto>($"api/item/{itemID}");
            item = dto;
            IsNew = false;
        }
        catch (System.Text.Json.JsonException e)
        {
            //Otherwise, will set to a new item DTO
            item = new ItemDto();
            IsNew = true;
        }
    }
}
