﻿<!--page "/Item/"-->
<!--page "/Item/{itemID:int}"-->

@using FoodTrackEFC.Client.Validation
@using FoodTrackEFC.Shared.Dtos
@using FoodTrackEFC.Shared;
@using Microsoft.AspNetCore.Components.Authorization
@using FoodTrackEFC.Shared.Managers
@using System.Text;
@using FoodTrackEFC.Client.Static;

@inject HttpClient Http
@inject NavigationManager NavigationManager


<div class="row">


    <div class="col-md-4">
        @if (item != null)
        {
            <EditForm OnValidSubmit="@HandleValidSubmit" Model="@item">
                <RecursiveDataAnnotationsValidator />
                <ValidationSummary />

                <FormInputTranslator formObject="@item" ParentSet="@parentSet">
                    <IntFrag Context="inte">
                        <div class="form-group">
                            <label for="@inte.ID" class="control-label"> @inte.Name </label>
                            <InputNumber id="@inte.ID" Value="@inte.Value" ValueChanged="@(inte.ValueChanged)" ValueExpression="@(inte.ValueExpression)" class="form-control" />
                        </div>
                    </IntFrag>
                    <FltFrag Context="flt">
                        <div class="form-group">
                            <label for="@flt.ID" class="control-label"> @flt.Name </label>
                            <InputNumber id="@flt.ID" Value="@flt.Value" ValueChanged="@(flt.ValueChanged)" ValueExpression="@(flt.ValueExpression)" class="form-control" />
                        </div>
                    </FltFrag>
                    <DateFrag Context="dte">
                        <div class="form-group">
                            <label for="@dte.ID" class="control-label"> @dte.Name </label>
                            <InputDate id="@dte.ID" Value="@dte.Value" ValueChanged="@(dte.ValueChanged)" ValueExpression="@(dte.ValueExpression)" class="form-control" />
                        </div>
                    </DateFrag>
                    <StringFrag Context="str">
                        <div class="form-group">
                            <label for="@str.ID" class="control-label"> @str.Name </label>
                            <InputText id="@str.ID" Value="@str.Value" ValueChanged="@(str.ValueChanged)" ValueExpression="@(str.ValueExpression)" class="form-control" />
                        </div>
                    </StringFrag>
                </FormInputTranslator>

                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        }

    </div>
</div>
@code {

    private AuthenticationState authenticationState { get; }

    private ItemDto item;

    private ItemDto itemSel;

    private OrderedSet<object> parentSet { get; set; }

    private bool IsNew { get; set; }

    private IList<ItemDto> SearchItems { get; set; }

    [Parameter]
    public int itemID { get; set; }

    public Task<IEnumerable<ItemDto>> SearchItem(string searchText)
    {
        Task<IEnumerable<ItemDto>> itemsReturned = Http.GetJsonAsync<IEnumerable<ItemDto>>("api/Item/" + searchText);


        return itemsReturned;
    }

    private async void HandleValidSubmit()
    {
        if (IsNew)
        {
            var createditem = await Http.SendJsonAsync<ItemDto>(HttpMethod.Post, "api/item", item);
            //HttpRequestMessage httpRequest = new HttpRequestMessage(HttpMethod.Post, "api/Item");
            //var json = jsonconvert.serializeobjeceet(item);
            //var stringcontent = new stringcontent(json, encoding.utf8, "application/json");
            //httprequest.content = stringcontent;
            //var responsemessage = await http.sendasync(httprequest);
        }
        else
        {
            await Http.SendJsonAsync<ItemDto>(HttpMethod.Put, "api/Item/" + item.ID, item);
        }
        //NavigationManager.NavigateTo($"/api/question/{createdQuestion.Id}");
        //var createdQuestion = await Http.SendJsonAsync<QuestionDto>(HttpMethod.Post, "api/questions", questionDto);
        //Console.WriteLine("OnValidSubmit");
    }

    protected override async Task OnInitializedAsync()
    {
        parentSet = new OrderedSet<object>();

        if (itemID == 0)
        {
            //Otherwise, will set to a new item DTO
            item = new ItemDto();
            IsNew = true;
            return;
        }

        try
        {
            // Will try to obtain an itemDto with this itemID
            ItemDto dto = await Http.GetJsonAsync<ItemDto>($"api/item/{itemID}");
            item = dto;
            IsNew = false;
        }
        catch (System.Text.Json.JsonException e)
        {
            //Otherwise, will set to a new item DTO
            item = new ItemDto();
            IsNew = true;
        }
    }
}
