﻿@page "/Item/View"

@using FoodTrackEFC.Client.Validation
@using FoodTrackEFC.Shared.Dtos
@using FoodTrackEFC.Shared;

@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="table-responsive" id="main-table">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Calories</th>
                <th>Protein</th>
                <th>Carbs</th>
                <th>Fat</th>
            </tr>
        </thead>
        <tbody id="table-body">
            @foreach (ItemDto item in bodyItems)
            {
            <tr>
                <td>(@item.Name)</td>
                <td>(@item.Calories)</td>
                <td>(@item.Protein)</td>
                <td>(@item.Carbohydrate.Total)</td>
                <td>(@item.Fat.Saturated)</td>
            </tr>
            }
        </tbody>a
    </table>
</div>

@code {

    public IEnumerable<ItemDto> bodyItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        bodyItems = await Http.GetJsonAsync<IEnumerable<ItemDto>>("api/Item/");
    }
}