﻿@using FoodTrackEFC.Client.Interfaces;

@if (GenericData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
            @foreach (string colTitle in GenericData.DataDict.Keys)
            {
                <th>@colTitle</th>
            }
            </tr>
        </thead>
        <tbody>
            <tr>
            @foreach (string key in GenericData.DataDict.Keys)
            {
                <td>@GenericData.DataDict[key]</td>
            }
            </tr>
        </tbody>
    </table>
}

@code {
    [Parameter] public IGenericData GenericData { get; set; }
}
