﻿<div class="form-group">
    <label for="@InputObj" class="control-label"> @InputObj </label>
    <InputDate @bind-Value="@InputObj" />
</div>

@code {
    [Parameter]
    public DateTime InputObj { get; set; }
}
