﻿@using FoodTrackEFC.Shared.Interfaces.FormObject;
@using FoodTrackEFC.Shared;
@using System.Text;
@using System.Reflection;

@{string name = propInfo.Name;}

<label for="@GenerateID()" class="control-label"> @name </label>

@code {

    [Parameter]
    public PropertyInfo propInfo { get; set; }

    [Parameter]
    public OrderedSet<IFormObject> parentSet { get; set; }

    public string GenerateID()
    {
        StringBuilder builder = new StringBuilder();
        foreach (var formObj in parentSet)
        {
            builder.Append(formObj.FormNameID).Append("/");
        }
        return builder.Append(propInfo.Name).ToString();
    }

}
