﻿
@using System.Reflection;
@using System.Collections;
@using FoodTrackEFC.Shared.Interfaces.FormObject;
@using FoodTrackEFC.Shared;
@using System.Linq;

<legend>@formObject.FormName</legend>

@foreach (PropertyInfo rootProp in formObject.GetType().GetProperties())
{
    Type propT = rootProp.PropertyType;

    if (rootProp.GetCustomAttributes().Where(x => x.ToString() == "NotDisplayed").Any())
    {
        continue;
    }

    if (propT == typeof(int))
    {
        @IntFrag(new FormObjectProperty<int>(rootProp, formObject, EditContext, ParentSet))
    }
    else if (propT == typeof(float))
    {
        @FltFrag(new FormObjectProperty<float>(rootProp, formObject, EditContext, ParentSet))
    }
    else if (propT == typeof(String))
    {
        @StringFrag(new FormObjectProperty<string>(rootProp, formObject, EditContext, ParentSet))
    }
    else if (propT == typeof(DateTime))
    {
        @DateFrag(new FormObjectProperty<DateTime>(rootProp, formObject, EditContext, ParentSet))
    }
    else if (typeof(IFormObject).IsAssignableFrom(propT) && !typeof(ICollection).IsAssignableFrom(propT))
    {
        IFormObject newFormObj = rootProp.GetValue(formObject) as IFormObject;
        if (ParentSet.Contains(newFormObj))
        {
            continue;
        }
        ParentSet.Add(formObject);
        
        <FormInputTranslator DateFrag="@DateFrag" IntFrag="@IntFrag" FltFrag="@FltFrag" StringFrag="@StringFrag" formObject="@newFormObj" ParentSet="@ParentSet" />
    }

}

@code{

    [Parameter]
    /// <summary>
    /// Keeps track of the parent components of this IFormObject to prevent infinite recursion.
    /// </summary>
    public OrderedSet<object> ParentSet { get; set; }

    [CascadingParameter]
    public EditContext EditContext { get; set; }

    [Parameter]
    public IFormObject formObject { get; set; }

    [Parameter]
    public RenderFragment<IFormObjectProperty<int>> IntFrag { get; set; }

    [Parameter]
    public RenderFragment<IFormObjectProperty<float>> FltFrag { get; set; }

    [Parameter]
    public RenderFragment<IFormObjectProperty<DateTime>> DateFrag { get; set; }

    [Parameter]
    public RenderFragment<IFormObjectProperty<string>> StringFrag { get; set; }

}
